# Compiled files
target/
*.class

# Logs
*.log
test-output/  # Si TestNG genera reportes aquí

# Playwright (si guarda artifacts localmente)
test-results/
playwright-report/
test-artifacts/
state.json

# IDE
.vscode/
.idea/
*.iml
.settings/
.project
.classpath

# OS
.DS_Store
Thumbs.db
*.swp
*.lock

# Maven (opcional, si no quieres subir el wrapper)
.mvn/
mvnw
mvnw.cmd
