<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="Suite Appbarber">

    <test name="AUTH_MODULE">
        <packages>
            <package name="com.appbarber.tests.auth" />
            <package name="com.appbarber.tests.app" />
        </packages>
    </test>

</suite>